.rgh-div, .rgh-div-head {
  position: relative;
}

.rgh-div {
  padding-left: 15px;
}

.rgh-h1-head, .rgh-h1 {
  margin-left: 0px;
}

.rgh-h2-head, .rgh-h2 {
  margin-left: 10px;
}

.rgh-h3-head, .rgh-h3 {
  margin-left: 20px;
}

.rgh-h4-head, .rgh-h4 {
  margin-left: 30px;
}

.rgh-h5-head, .rgh-h5 {
  margin-left: 40px;
}

.rgh-h6-head, .rgh-h6 {
  margin-left: 50px;
}

.rgh-line {
  position: absolute;
  height: calc(100% + 10px + 1.5px);
  width: 2.5px;
  left: 0;
  top: -10px;
  border-radius: 2px;
}

.rgh-line-h1 {
  background-color: rgb(66, 128, 95) !important;
}

.rgh-line-h2 {
  background-color: rgb(64, 130, 115) !important;
}

.rgh-line-h3 {
  background-color: rgb(62, 125, 127) !important;
}

.rgh-line-h4 {
  background-color: rgb(58, 114, 125) !important;
}

.rgh-line-h5 {
  background-color: rgb(54, 108, 131) !important;
}

.rgh-line-h6 {
  background-color: rgb(56, 91, 123) !important;
}

.rgh-top32 {
  height: calc(100% + 64px - 10px + 1.5px) !important;
  top: -32px !important;
}

.rgh-top16 {
  height: calc(100% + 32px - 10px + 1.5px) !important;
  top: -16px !important;
}

.rgh-top2 {
  height: calc(100% + 2px + 1.5px) !important;
  top: -2px !important;
}

.rgh-top16.rgh-top2 {
  height: calc(100% + 2px + 16px - 10px + 1.5px) !important;
  top: -2px !important;
}

.rgh-top5 {
  height: calc(100% + 5px + 1.5px) !important;
  top: -5px !important;
}

.rgh-left10 {
  left: -10px !important;
}

.rgh-left20 {
  left: -20px !important;
}

.rgh-left30 {
  left: -30px !important;
}

.rgh-left40 {
  left: -40px !important;
}

.rgh-left50 {
  left: -50px !important;
}

.rgh-m-top-16 {
  margin-top: 16px;
}

/* --- Optional Author-Styled CSS --- */
body.better-headings-author-style {
  --file-line-width: none !important;
  --font-text-theme: "jf-jinxuan-book", "jf-jinxuan", "Swei Gothic CJK TC";
}
body.better-headings-author-style .cm-sizer {
  max-width: min(80vw, 1050px) !important;
}
body.better-headings-author-style .markdown-preview-sizer {
  max-width: min(75vw, 1000px) !important;
}
body.better-headings-author-style code[class*=language-],
body.better-headings-author-style pre[class*=language-] {
  font-family: "JetBrainsMono Nerd Font Mono", "MesloLGS NF", var(--font-text-theme) !important;
}
body.better-headings-author-style a.tag {
  font-style: normal;
}
body.better-headings-author-style .markdown-preview-view {
  --p-spacing: 10px;
}
body.better-headings-author-style .markdown-preview-view table {
  margin: 10px 0 !important;
}
body.better-headings-author-style .markdown-preview-view div:has(> table) {
  overflow-x: initial !important;
}
body.better-headings-author-style .markdown-preview-view blockquote, body.better-headings-author-style .markdown-preview-view pre {
  margin: 16px 0 !important;
}
body.better-headings-author-style .markdown-preview-view hr {
  margin: 32px 0 !important;
}
body.better-headings-author-style .markdown-preview-view pre {
  background-color: #12121d !important;
  box-shadow: 2px 2px 7px #5b5b5b;
}
body.better-headings-author-style .markdown-preview-view .cm-strong, body.better-headings-author-style .markdown-preview-view strong {
  padding: 0px !important;
  color: #ffd2a1;
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
  background-color: unset !important;
  background-image: unset !important;
}
body.better-headings-author-style .markdown-preview-view .cm-strong::selection, body.better-headings-author-style .markdown-preview-view strong::selection {
  padding: 0px !important;
  color: #ffd2a1;
  background-clip: unset !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: unset !important;
}
body.better-headings-author-style .markdown-preview-view .cm-em, body.better-headings-author-style .markdown-preview-view em, body.better-headings-author-style .markdown-preview-view i {
  color: #af94e0 !important;
  font-style: unset !important;
}
body.better-headings-author-style .markdown-preview-view mark {
  border-radius: 3px;
  padding: 0 5px;
}
body.better-headings-author-style .markdown-preview-view span.internal-embed.media-embed.image-embed > img {
  max-width: 550px !important;
}
body.better-headings-author-style .markdown-preview-view h1, body.better-headings-author-style .markdown-preview-view h2, body.better-headings-author-style .markdown-preview-view h3, body.better-headings-author-style .markdown-preview-view h4, body.better-headings-author-style .markdown-preview-view h5, body.better-headings-author-style .markdown-preview-view h6 {
  font-family: "Publico Text", "Lava Kannada", "jf-jinxuan", "Swei Gothic CJK TC", var(--font-text-theme) !important;
  letter-spacing: 0.5px !important;
  word-spacing: -0.6px !important;
  font-size: 22px !important;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
  height: 26px;
  line-height: 26px;
  vertical-align: text-bottom !important;
}
body.better-headings-author-style .markdown-preview-view div:has(> :is(h1, h2, h3, h4, h5, h6)) + div > :not(h1, h2, h3, h4, h5, h6, hr, div) {
  margin-top: 2px !important;
}
body.better-headings-author-style .markdown-preview-view div:has(> h1) + div > :is(h2, h3, h4, h5, h6),
body.better-headings-author-style .markdown-preview-view div:has(> h2) + div > :is(h3, h4, h5, h6),
body.better-headings-author-style .markdown-preview-view div:has(> h3) + div > :is(h4, h5, h6),
body.better-headings-author-style .markdown-preview-view div:has(> h4) + div > :is(h5, h6),
body.better-headings-author-style .markdown-preview-view div:has(> h5) + div > :is(h6) {
  margin-top: 5px !important;
}
body.better-headings-author-style .markdown-preview-view li {
  margin-left: 28px !important;
  z-index: 1;
}
body.better-headings-author-style .markdown-preview-view ul > li.task-list-item {
  padding-left: 0px;
  text-indent: -16px;
}
body.better-headings-author-style .markdown-preview-view .contains-task-list .task-list-item ul.contains-task-list::before {
  left: -13.6px !important;
}
body.better-headings-author-style .markdown-preview-view .heading-collapse-indicator {
  z-index: 1;
}
body.better-headings-author-style .markdown-preview-view .internal-link {
  transition: all 0.15s ease-in-out !important;
}
body.better-headings-author-style .markdown-preview-view .internal-link:hover {
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h1 .internal-link, body.better-headings-author-style .markdown-preview-view h1 .external-link {
  color: inherit;
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h1 .internal-link:hover, body.better-headings-author-style .markdown-preview-view h1 .external-link:hover {
  -webkit-text-fill-color: inherit;
  color: var(--text-normal);
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h2 .internal-link, body.better-headings-author-style .markdown-preview-view h2 .external-link {
  color: inherit;
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h2 .internal-link:hover, body.better-headings-author-style .markdown-preview-view h2 .external-link:hover {
  -webkit-text-fill-color: inherit;
  color: var(--text-normal);
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h3 .internal-link, body.better-headings-author-style .markdown-preview-view h3 .external-link {
  color: inherit;
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h3 .internal-link:hover, body.better-headings-author-style .markdown-preview-view h3 .external-link:hover {
  -webkit-text-fill-color: inherit;
  color: var(--text-normal);
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h4 .internal-link, body.better-headings-author-style .markdown-preview-view h4 .external-link {
  color: inherit;
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h4 .internal-link:hover, body.better-headings-author-style .markdown-preview-view h4 .external-link:hover {
  -webkit-text-fill-color: inherit;
  color: var(--text-normal);
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h5 .internal-link, body.better-headings-author-style .markdown-preview-view h5 .external-link {
  color: inherit;
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h5 .internal-link:hover, body.better-headings-author-style .markdown-preview-view h5 .external-link:hover {
  -webkit-text-fill-color: inherit;
  color: var(--text-normal);
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h6 .internal-link, body.better-headings-author-style .markdown-preview-view h6 .external-link {
  color: inherit;
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h6 .internal-link:hover, body.better-headings-author-style .markdown-preview-view h6 .external-link:hover {
  -webkit-text-fill-color: inherit;
  color: var(--text-normal);
  transition: all 0.15s ease-in-out;
}
body.better-headings-author-style .markdown-preview-view h1 {
  color: rgb(45, 250, 164) !important;
}
body.better-headings-author-style .markdown-preview-view h2 {
  color: rgb(39, 253, 214) !important;
}
body.better-headings-author-style .markdown-preview-view h3 {
  color: rgb(44, 241, 244) !important;
}
body.better-headings-author-style .markdown-preview-view h4 {
  color: rgb(42, 217, 240) !important;
}
body.better-headings-author-style .markdown-preview-view h5 {
  color: rgb(41, 202, 255) !important;
}
body.better-headings-author-style .markdown-preview-view h6 {
  color: rgb(71, 162, 240) !important;
}
body.better-headings-author-style .markdown-preview-view .internal-link {
  color: #acf0e6;
}
body.better-headings-author-style .markdown-preview-view .external-link {
  color: #f1ddef;
}
body.better-headings-author-style .markdown-preview-view .contains-task-list .task-list-item::before {
  top: 6px;
}
body.better-headings-author-style .markdown-preview-view .contains-task-list .task-list-item::after {
  top: 13px;
}
body.better-headings-author-style .markdown-preview-view .rg-nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(141, 141, 141);
  border-radius: 5px;
  margin: 10px 10px 5px;
  padding: 5px 15px;
}
body.better-headings-author-style .cm-content .cm-line {
  font-size: 16px;
  line-height: 1.4;
}
body.better-headings-author-style .cm-content .cm-formatting.cm-formatting-header.cm-header {
  opacity: 1;
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content .cm-header-1 {
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content .cm-header-2 {
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content .cm-header-3 {
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content .cm-header-4 {
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content .cm-header-5 {
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content .cm-header-6 {
  color: #aaaaaa;
}
body.better-headings-author-style .cm-content span.cm-hmd-internal-link {
  color: #cccccc;
}

/*# sourceMappingURL=styles.css.map */
